@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

.round-border {
    border: 2px solid gray;
    border-radius: 12px;
}

input[type="password"] {
font-family: sans-serif !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{ list-style-type: none;
    margin: 0;
    padding: 0;}

#index{ background: url(../resources/imgs/indexBackground.jpg) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; width:100%; height: 100vh; }
#wrap{ position:relative}
#head{ width:1200px; height:63px; margin:0 auto; border-bottom:1px solid #fff}
#head .logo{ background-image:url(../resources/imgs/logo.png); width:170px; height:20px; text-indent:-999px; }
.content{ width:1200px; margin:0 auto}

.life{ float:left; padding:20px 20px 20px 35px;}
.right{ float:right; padding:20px 15px 15px 15px;}

/* 네비 */
.menu {
	font-size: 0px;
	display: inline-block;
	white-space: nowrap;
}

.menu li {
	margin: 0px 10px;
	font-size: 16px;
	display: inline-block;
}
.small.menu li {
	margin: 0px 4px;
	font-size: 18px;
}
.menu li a {
	font-size:16px;
	font-weight:500;
	padding: 25px 10px;
	color:#fff; text-decoration:none
}

.menu li a.ptxt{color:#3deedf; text-decoration:underline;}
.whiteSlide.slides .menu li a.ptxt{color:#00e3d0; text-decoration:underline;}


.uppercase.menu {
	font-weight: 600;
}
.uppercase.menu li {
	margin: 0px 20px;
	letter-spacing: 0.15em;
	font-size: 17px;
}
.small.uppercase.menu li {
	margin: 0px 10px;
	font-size: 14px;
}
.space.center {
	padding: 0px 20px;
}
.space.right {
	padding-left: 20px;
}
.space.left {
	padding-right: 20px;
}
.menu > li{position:relative;}
.menu > li .sub_list{position:absolute; top:50px; left:-10px; z-index:999;}
.menu > li > .submenu01, .menu > li > .submenu02, .menu > li > .submenu03, .menu > li > .submenu04{display:none;}
.menu > li .sub_list > li{width:100%; display:inherit;}
.menu > li .sub_list > li > a{height:40px; line-height:30px; color:#fff; background:rgba(0%,0%,0%,1); width:100%; display:block; text-align:left; font-size:13px; padding:5px 10px;}
.menu > li .sub_list > li > a:hover{color:#42d5ce;}

.name { width:513px; height:453px;  margin:0 auto; margin-top:150px;background: rgba(255, 255, 255, 0.2);}
.font_01{ font-size:18px; color:#fff; text-align:center; text-shadow: 1px 1px 2px #000; padding-top:60px;}
.font_02{ font-size:25px; color:#fff; text-align:center; text-shadow:1px 1px 2px #000; padding-top:53px}
.font_02 strong{ font-size:30px}
.font_03{ text-align:center; padding-top:65px}
.font_04{width:345px; height:48px; background-color:#eeca4c; folor:#000; text-align:center; margin:0 auto; margin-top:60px}
.font_04 a{ font-size:20px; font-weight:bold; color:#000; text-decoration:none; margin:0 auto; font-stretch:narrower; padding-top:9px; display:block}

#foot{ width:1200px; margin:auto}
.footer{ clear:both; position:absolute; bottom:6px; width:1200px; margin:0 auto; text-align:center}
.footer p{ color:#ccc; }

/* login */
.s-container {
	/*width: 1380px;*/
	width: 100%;
	margin: 0 auto;
	padding-top: 95px;
	padding-bottom: 40px;
	text-align: center;
}

.s-container > .section-title {
	font-size: 30px;
	letter-spacing: 2.5px;
	font-family: 'Avenir', 'NotoSansKR';
	position: relative;
	opacity: 0;
	word-break: keep-all;
	font-weight: 600;
	z-index: 10;
}

.s-container > .section-title.ko {
	font-family: 'NotoSansKR';
}

.s-container > .section-title:after,
.s-container > .section-title:before {
	display: inline-block;
	background: #b72058;
	content : " ";
	margin-top: -3px;
	vertical-align: middle;
	margin-right: 30px;
	width: 43px;
	height: 1px;
}

.s-container > .section-title:after {
	margin-left: 25px;
	margin-right: 0px;
}

.login_field{ position:relative; width:305px; padding-left:-253px; margin:0 auto 0 auto; text-align:left; letter-spacing:-1px;}
.login_field .login_input{ position:relative; margin-top:17px; padding:4px 0;}
.login_field .login_input .l_i_wrap{ padding:4px 0}
.login_field .login_input .l_i_wrap input{ width:190px; height:45px; padding:0 10px; border:0; background:url(http://ai.esmplus.com/podopod/uploads/img/etc/input_bg.gif) left top no-repeat;}
.login_field .login_input .btn_login{ position:absolute; top:0; right:-13px;}
.sns_txt .red{ color:#F00} .sns_txt .grn{ color:#090} .sns_txt .blue{ color:#03C}
.sns_txt strong{  font-size:17px; letter-spacing:0.5px}
.sns_txt{ width:305px; text-align:center; margin-top:60px;}
.login_field li{ float:left; margin-right:6px;}
.login_field .sns_icon{width:500px; margin-left:-2px; margin-top:22px;}
.login_field .join_btn{ background:url(../resources/imgs/circle.png) 108px top no-repeat; padding-left:135px; }
.btn_login{ margin-left:94px; padding-top:10px}

/* 아코디언 메뉴 */
div.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

div.accordion.active, div.accordion:hover {
    background-color: #ddd;
}

div.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

div.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.bgig {
    background-color: #f9d9e4;
    padding: 1% 0 0 0;
}

@media ( min-width: 768px ) {
	.bgig {
		width:355px;
	    height:529px;
	    background: url(../resources/imgs/paper_small.png) no-repeat center;
	    padding: 1% 0 0 0;
	}
}

.bgig-finish {
    background-color: #f9d9e4;
    padding: 1% 0 0 0;
}

@media ( min-width: 768px ) {
	.bgig-finish {
		width:355px;
	    height:250px;
	    background: url(../resources/imgs/fin_paper_small.png) no-repeat center;
	    padding: 1% 0 0 0;
	}
}
