@CHARSET "UTF-8";

.round-border {
    border: 2px solid gray;
    border-radius: 12px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#wrap{ background: url(../resources/imgs/indexBackground.jpg) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; width:100%; height: 100vh; }
#head .logo{ background-image:url('../resources/imgs/logo.png'); width:170px; height:24px; text-indent:-999px;}